$zero: 0;
$one: 1;
$none: none;
$trans: transparent;
$fl: flex;
$center: center;
$sizeList: 5, 10, 15, 20, 25, 30;
$positionList: top, left, right, bottom;
$font-body: "Inter", serif;
$font-barcode: "Libre Barcode 128 Text", serif;
