@use '../abstract/abs_forwards' as *;

.main {
    height: 100vh;
    background-color: $col2;
    display: flex;
    flex-direction: column;

    .viewport {
        height: 100%;
        overflow-y: hidden;

        &--size {
            height: 100%;
            overflow-y: auto;
        }
    }
}